    .login button:hover {
        background-color: #dbdbdb;
        color: white;
    }
    
    .sign button:hover {
        background-color: #dbdbdb;
        color: white;
    }
    
    .info1 {
        position: absolute;
        top: 200px;
        left: 40px;
        opacity: 0.7;
        color: white;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    }
    
    .info2 {
        margin-left: 50px;
        margin-top: 0px;
        color: #333;
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        font-weight: bolder;
    }
    
    .login button {
        position: absolute;
        top: 50px;
        right: 50px;
        height: 40px;
        width: 100px;
        border: none;
        padding: 10px 20px;
        background-color: #a3a3a3;
        color: black;
        font-size: 17px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        border-radius: 5px;
    }
    
    .login a {
        text-decoration-line: none;
        color: black;
    }
    
    .sign button {
        position: absolute;
        top: 50px;
        right: 200px;
        height: 40px;
        width: 100px;
        border: none;
        padding: 10px 20px;
        background-color: #a3a3a3;
        color: black;
        font-size: 17px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        border-radius: 5px;
        text-decoration-line: none;
    }
    
    .sign a {
        text-decoration-line: none;
        color: black;
    }